<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-lg-1 h-100 sidebar">
      <div class="row h-20 align-items-center justify-content-center">
      </div><!-- left side bar -->
      <div class="row h-65 align-items-center justify-content-center">
        <div class="searchRec">
          <img src="assets/loupe.svg"
               class="loupe">
          <span class="searchText">
            Search
          </span>
        </div>
        <div class="history">
          <img src="assets/clock.svg"
               class="clock">
          <span class="searchText textBlack">
            History
          </span>
        </div>
        <div class="history">
          <img src="assets/path.svg"
               class="Path">
          <span class="searchText textBlack">
          Favorites
          </span>
        </div>
        <div class="history">
          <img src="assets/group-35.svg"
               class="Group-35">
          <span class="searchText textBlack selectedPick">
          Selected Pick
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-10">      <!-- main content -->
      <mat-card>
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col-lg-2 align-items-center justify-content-center">
              <span class="topSearchText">
                Search
              </span>
          </div>
          <div class="col-lg-6 align-items-center justify-content-center">
            <form class="example-form align-items-baseline justify-content-center">
              <mat-form-field class="full-width" appearance="outline" style="border-radius: 10px;">
                <mat-icon matPrefix>search</mat-icon>
                <input type="text" matInput placeholder="Search">

              </mat-form-field>
            </form>
          </div>
          <div class="col-lg-1 align-items-center justify-content-center">

                <mat-icon>settings</mat-icon>
            Settings

          </div>
          <div class="col-lg-2 align-items-center justify-content-center">

            <mat-icon>input</mat-icon><br>
            Logout

          </div>
        </div>

      </mat-card>
      <div class="row">
        <div class="col-lg-6">
          <h3>1550 tires found</h3>
          <div class="row">
            <div class="tires">
              <img class="img-fluid" src="assets/tyre-img.jpg">
            </div>
            <div class="tires">
              <img class="img-fluid" src="assets/tyre-img.jpg">
            </div>
            <div class="tires">
              <img  class="img-fluid" src="assets/tyre-img.jpg">
            </div>
            <div class="tires">
              <img class="img-fluid" src="assets/tyre-img.jpg">
            </div>
            <div class="tires">
              <img class="img-fluid" src="assets/tyre-img.jpg">
            </div>
            <div class="tires">
              <img class="img-fluid" src="assets/tyre-img.jpg">
            </div>
            <div class="tires">
              <img  class="img-fluid" src="assets/tyre-img.jpg">
            </div>
            <div class="tires">
              <img class="img-fluid" src="assets/tyre-img.jpg">
            </div>
            <div class="tires">
              <img class="img-fluid" src="assets/tyre-img.jpg">
            </div>
          </div>
        </div>
        <div class="col-lg-6">

          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>settings</mat-icon>Comparison
              </ng-template>
              Comparison </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>filter_list</mat-icon>Filters
              </ng-template>Filters </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>open_with</mat-icon>Dimension
              </ng-template>Dimension
            </mat-tab>

          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>

